<div class="panel">
  <div class="panel-heading">Skills</div>
</div>

<h1>Programming Languages and Frameworks</h1>
<div id="skills">
  <div id="apps">
    <% @skills.each do |skill| %>
      <p><%= skill.skill_name %></p>
    <% end %>
  </div>

  <div class="grid">
    <% @skills.each do |skill| %>
      <div class="bar pct-<%=skill.skill_level%>"><div class="inner"></div>   </div>
    <%end%>
    <div class="v-divider one"></div>
    <div class="v-divider two"></div>
    <div class="v-divider three"></div>

    <div id="scale">
      <p class="zero">Never Used</p>
      <p class="one">Somewhat Familiar</p>
      <p class="two">Very Familiar</p>
      <p class="three">Strong</p>
      <p class="four">Very Strong</p>
    </div>
  </div>


</div>

<div class="list-group">
  <a class="list-group-item list-group-item-info">Programming Principles and Practices</a>
  <a class="list-group-item">Object-Oriented Design</a>
  <a class="list-group-item">MVC Framework</a>
  <a class="list-group-item">Pair Programming</a>
  <a class="list-group-item">Test and Behavior Driven Development</a>
  <a class="list-group-item">Refactoring</a>
  <a class="list-group-item">Responsive Design</a>
</div>
