<img src="https://dl.dropboxusercontent.com/u/35780054/wesblu.png" class="profile-pic img-rounded" alt="...">
<div class="panel intro-panel">
  <div class="panel-heading">Wesley El-Amin</div>
  <div class="panel-footer">Web Developer</div>
</div>


<div class="about">
I'm a hobby cyclist, open source contributor, bassist, and full-stack web developer with a wealth of front and back end programming experience. I'm currently living in Detroit, MI, but I recently graduated from <a target="_blank" href="http://devbootcamp.com/">Dev Bootcamp</a> in Chicago, IL, where I took the role of Project Lead on a team that developed <a target="_blank" href="https://github.com/wesleye2003/pick-mobile">Pick</a>,
a SoundCloud-powered mobile app for musical collaboration.
I also love dogs, especially my golden doodle <a target="_blank" href="https://www.instagram.com/sophieinthed/">Sophie</a>.
</div>
