<div class="text-xs-center">
  <div class="panel">
    <div class="panel-heading">Wesley El-Amin</div>
    <div class="panel-footer">Web Developer</div>
  </div>
  <img src="./sunset.jpg" class="img-rounded center-block" alt="...">
</div>
