Wesley El-Amin is a full-stack web developer,
hobby cyclist, and bassist currently living in Detroit, MI.  He also LOVES dogs, especially his golden doodle <a target="_blank" href="https://www.instagram.com/sophieinthed/">Sophie</a>. He is best known
for his work on <a target="_blank" href="https://github.com/wesleye2003/pick-mobile">Pick</a>,
a SoundCloud-powered iOs, Android and Desktop application for musical collaboration.
