I'm a hobby cyclist, open source contributor, bassist, and full-stack web developer with a wealth of front and back end development experience. I'm currently living in Detroit, MI.  I love dogs, especially my golden doodle <a target="_blank" href="https://www.instagram.com/sophieinthed/">Sophie</a>.
I recently graduated <a target="_blank" href="http://devbootcamp.com/">Dev Bootcamp</a> in Chicago, IL and took the role of Project Lead on a team that developed <a target="_blank" href="https://github.com/wesleye2003/pick-mobile">Pick</a>,
a SoundCloud-powered iOs, Android and Desktop application for musical collaboration.
