/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
    animation: colorchange 30s infinite;
    -webkit-animation: colorchange 30s infinite;
  }

  @keyframes colorchange
  {
    0%   {background: #1c2c6b;}
    25%  {background: #264BE8;}
    50%  {background: #1c2c6b;}
    75%  {background: #264BE8;}
    100% {background: #1c2c6b;}
  }

  @-webkit-keyframes colorchange
  {
    0%   {background: #1c2c6b;}
    25%  {background: #264BE8;}
    50%  {background: #1c2c6b;}
    75%  {background: #264BE8;}
    100% {background: #1c2c6b;}
  }
