@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
.container {
  /* Background pattern from subtlepatterns.com */
  background-image: url("https://dl.dropboxusercontent.com/u/35780054/gplaypattern.png");
  color: #000000;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  padding: 1em 1em 1em 1em !important;
  margin: 0.5em;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.container img {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.container a {
  transition: 0.3s;
  font-size: 1em;
}

.container a:hover {
  text-decoration: none;
  color: #1c2c6b !important;
}

footer {
  background-image: url("https://dl.dropboxusercontent.com/u/35780054/gplaypattern.png");
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 1em 1em 1em 1em;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  font-size: 1.2em;
}

.about {
  text-align: left;
}

.container, footer, nav {
    opacity: 1;
    transition: 3s opacity;
}
.fade-out {
    opacity: 0;
    transition: 3s opacity;
}
