.navbar-inverse .navbar-nav>.active>a.navbar-brand, .navbar-inverse .navbar-nav>li>a.navbar-brand{
      font-family: 'Lobster', cursive;
      font-size: 2.5em;
      padding-left: 1em;
      padding-right: 1em;
}

li.active a{
  background-color: #1c2c6b !important;
  color: #c7d1f7 !important;
  border-radius: 2em;
}

a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5em;
}

a:hover {
  color: #c7d1f7 !important;
}

.dropdown-menu a {
  text-align: center;
}

.dropdown-menu a:hover {
  background-color: #1c2c6b !important;
}

nav.navbar.navbar-inverse {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  margin-bottom: 0;
}



li a {
  transition: 0.3s;
}
