
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #578549
}

ul.topnav li {
  width: 20%;
  float: left;
  text-align: center;
}

ul.topnav li a {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  font-family: 'Passion One', cursive;
  font-size: 1.8em;
}

ul.topnav li a:hover {
  background-color: #46632c;
}

ul.topnav li.icon {
  display: none;
}

ul.topnav li a.myname {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}
