<!DOCTYPE html>
<html>
<head>
  <title>Wesley El-Amin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Passion+One" rel="stylesheet">
</head>
<body>

  <ul class="topnav">
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a class="myname" href="/">Wesley El-Amin</a></li>
    <li><a href="/skills">Skills</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>

<%= yield %>

</body>
</html>
